<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userDao4MySqlImpl" class="UserDao4MySqlImpl"/>
    <bean id="userManager" class="UserManagerImpl">
        <constructor-arg type="UserDao" ref="userDao4MySqlImpl"/>
    </bean>
</beans>